#contentOfBaiViet img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
#contentOfBaiViet .breadcrumb {
    display: flex;
    align-items: center;
}
#contentOfBaiBiet .breadcrumb >ul>li{
    color: #bd945f;
}
#contentOfBaiViet {
    background-color: #f5f5f5;
    max-width: 100%;
    height: auto;
    margin: 1rem 0;
}

#contentOfBaiViet .container {
    padding: 12.5rem 4rem;
}

#contentOfBaiViet .row {
    display: flex;
    align-items: stretch;
    background-color: #fff;
    padding: 2rem 0.5rem 2rem 0.5rem;
}

#contentOfBaiViet .left-content>h2 {
    font-family: 'Gotham-Ultra';
    font-weight: bold;
    text-transform: uppercase;
    color: #bd945f;
}

#contentOfBaiViet .right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#contentOfBaiViet .right-content .item-box {
    display: flex;
    gap: 2rem;
    padding: 1rem 1rem;
}

#contentOfBaiViet .right-content>h3 {
    color: #2c2e53;
    text-transform: uppercase;
    font-family: 'Gotham-Medium';
    position: relative;
    font-size: 1.5rem;
}

#contentOfBaiViet .right-content>h3::after {
    content: '';
    height: 0.2rem;
    width: 7rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

#contentOfBaiViet .right-content .item-box>p {
    font-family: 'Gotham-Medium';
    color: #2c2e53;
}