#content {
    background-color: #f5f5f5;
    padding: 2.5 0;
}

#content .container {
    padding: 1rem 3rem 2.5rem 3rem;
}

.category {
    padding-top: 8rem;
}

.breadcrumb {
    display: flex;
    font-family: 'Gotham-Medium';
    padding-top: 1.5rem;
    padding-left: 22rem;
    font-size: 1.5rem;
}

.breadcrumb li a {
    color: #c09664;
    font-size: 1.2rem;
    font-weight: bold;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li.separator {
    margin: 0 0.5rem;
    color: #555;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.4rem;
}

.breadcrumb li.active {
    color: #c09664;
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.4rem;
}
.aboutProduct {
    background-color: #fff;
    padding: 2.5rem 3rem;
    margin-bottom: 3rem;
}
.title h2 {
    color: #212546;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 0.5rem 1.2rem;
}

.Options {
    padding: 0 2.5rem 0 2.5rem;
}

.Options h3 {
    color: #212546;
    font-weight: bold;
    text-transform: uppercase;
}

.Options .optionBy .selection1 {
    border: 0.4rem solid #bd945f;
    padding: 0.5rem 2rem;
    font-family: 'Gotham-Medium';
    text-align: center;
}

.Options .optionBy .selection1>a {
    color: #333;
    font-weight: bold;
}

.Options .optionBy .selection2 {
    border: 0.4rem solid #8c8c8c;
    padding: 0.5rem 2rem;
    font-family: 'Gotham-Medium';
    color: #333;
    text-align: center;
}

.Options .optionBy .selection2>a {
    color: #333;
    font-weight: bold;
}

.Options .optionBy>del {
    padding: 1rem 0 0.5rem 0;
    font-size: 1.5rem;
}

.Options .optionBy>p {
    font-size: 2.4rem;
    color: #bd945f;
    font-weight: bold;
}

.Options .optionBy .commitment {
    border: 0.4rem solid #8c8c8c;
    display: flex;
    gap: 1rem;
    padding: 1rem 0 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.Options .optionBy .commitment>i {
    font-size: 1.5rem;
}

.details .optionOfDetails {
    display: flex;
    list-style: none;
    padding-top: 3rem;
    padding-left: 1rem;
    position: relative;
}

.details .optionOfDetails::after {
    content: '';
    height: 0.2rem;
    width: 48rem;
    position: absolute;
    top: 110%;
    left: 12rem;
    background-color: #bd945f;
}

.details .optionOfDetails>li {
    border-right: 0.4rem solid #bd945f;
}

.details .optionOfDetails>li>a {
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
    color: #bd945f;
    font-weight: bold;
}

.details .optionOfDetails .activeItem {
    position: relative;
}

.details .optionOfDetails .activeItem>a {
    padding-left: 0.3rem;
    color: #2c2e53;
}

.details .optionOfDetails .activeItem>a::after {
    content: '';
    height: 0.2rem;
    width: 11rem;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #2c2e53;
}

.introduceOfDetails {
    padding: 1rem 0.5rem 1rem 0.5rem;
    font-family: 'Gotham-Medium';
    color: #2c2e53;
    font-weight: bold;
}

.introduceOfDetails>p {
    font-size: 1.5rem;
}

/* Render by Slick */
.ImgBySlick {
    max-width: 50rem;
    margin: auto;
}

.aboutProduct_imgBig {
    margin-bottom: 1rem;
    position: relative;
}

.aboutProduct_imgBig img {
    width: 100%;
    height: auto;
    border-radius: 0.2rem;
}

/* Nút bấm Next/Prev tùy chỉnh */
.slick-prev,
.slick-next {
    z-index: 90;
    width: 2.5rem;
    height: 2.5rem;
    background: #2c3e50 !important;
    
    display: flex ;
    align-items: center;
    justify-content: center;
}

.aboutProduct_imgThumb .slick-slide {
    padding: 0 0.3rem;
}

.aboutProduct_imgThumb img {
    width: 100%;
    height: 7rem;
    border: 0.2rem ;
}

.sameAsProduct {
    background-color: #fff;
    padding: 2.5rem 3rem;
}

.sameAsProduct h2 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

}

.sameAsProduct h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

.table-product {
    padding-top: 2rem;
}

.list-product {
    text-align: center;
}

.product-card h3 {
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1rem;
    font-family: 'Gotham-Ultra';
    font-size: 1.5rem;
}

.product-card .details {
    font-family: 'Gotham-Medium';
}

.product-card .rateByStars {
    color: #bd945f;
}

.product-card .price {
    font-weight: bold;
    font-family: 'Gotham-Medium';
}