#content {
    background-color: #f5f5f5;
    padding: 40px 0;
}

#content .container {
    padding: 20px 50px 40px 50px;
}

.category {
    padding-top: 110px;
}

.breadcrumb {
    display: flex;
    font-family: 'Gotham-Medium';
    padding-top: 20px;
    padding-left: 350px;
    font-size: 22px;
}

.breadcrumb li a {
    color: #c09664;
    font-size: 18px;
    font-weight: bold;
}

.breadcrumb li a:hover {
    text-decoration: underline;
}

.breadcrumb li.separator {
    margin: 0 10px;
    color: #555;
    font-size: 18px;
    font-weight: bold;
}

.breadcrumb li.active {
    color: #c09664;
    font-size: 18px;
    font-weight: bold;
}
.aboutProduct {
    background-color: #fff;
    padding: 30px 50px;
    margin-bottom: 50px;
}
.title h2 {
    color: #212546;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 10px 18px;
}

.Options {
    padding: 0 40px 0 40px;
}

.Options h3 {
    color: #212546;
    font-weight: bold;
    text-transform: uppercase;
}

.Options .optionBy .selection1 {
    border: 4px solid #bd945f;
    padding: 8px 30px;
    font-family: 'Gotham-Medium';
    text-align: center;
}

.Options .optionBy .selection1>a {
    color: #333;
    font-weight: bold;
}

.Options .optionBy .selection2 {
    border: 4px solid #8c8c8c;
    padding: 8px 30px;
    font-family: 'Gotham-Medium';
    color: #333;
    text-align: center;
}

.Options .optionBy .selection2>a {
    color: #333;
    font-weight: bold;
}

.Options .optionBy>del {
    padding: 20px 0 10px 0;
    font-size: 22px;
}

.Options .optionBy>p {
    font-size: 40px;
    color: #bd945f;
    font-weight: bold;
}

.Options .optionBy .commitment {
    border: 4px solid #8c8c8c;
    display: flex;
    gap: 20px;
    padding: 20px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
}

.Options .optionBy .commitment>i {
    font-size: 26px;
}

.details .optionOfDetails {
    display: flex;
    list-style: none;
    padding-top: 50px;
    padding-left: 20px;
    position: relative;
}

.details .optionOfDetails::after {
    content: '';
    height: 3px;
    width: 900px;
    position: absolute;
    top: 110%;
    left: 190px;
    background-color: #bd945f;
}

.details .optionOfDetails>li {
    border-right: 4px solid #bd945f;
}

.details .optionOfDetails>li>a {
    font-size: 30px;
    padding: 0 20px 0 20px;
    color: #bd945f;
    font-weight: bold;
}

.details .optionOfDetails .activeItem {
    position: relative;
}

.details .optionOfDetails .activeItem>a {
    padding-left: 5px;
    color: #2c2e53;
}

.details .optionOfDetails .activeItem>a::after {
    content: '';
    height: 4px;
    width: 170px;
    position: absolute;
    top: 120%;
    left: 0;
    background-color: #2c2e53;
}

.introduceOfDetails {
    padding: 20px 10px 20px 10px;
    font-family: 'Gotham-Medium';
    color: #2c2e53;
    font-weight: bold;
}

.introduceOfDetails>p {
    font-size: 20px;
}

/* Render by Slick */
.ImgBySlick {
    max-width: 800px;
    margin: auto;
}

.aboutProduct_imgBig {
    margin-bottom: 15px;
    position: relative;
}

.aboutProduct_imgBig img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Nút bấm Next/Prev tùy chỉnh */
.slick-prev,
.slick-next {
    z-index: 90;
    width: 40px;
    height: 40px;
    background: #2c3e50 !important;
    
    display: flex ;
    align-items: center;
    justify-content: center;
}

.aboutProduct_imgThumb .slick-slide {
    padding: 0 5px;
}

.aboutProduct_imgThumb img {
    width: 100%;
    height: 100px;
    border: 2px ;
}

.sameAsProduct {
    background-color: #fff;
    padding: 40px 50px;
}

.sameAsProduct h2 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

}

.sameAsProduct h2::after {
    content: '';
    height: 8px;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

.table-product {
    padding-top: 30px;
}

.list-product {
    text-align: center;
}

.product-card h3 {
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Gotham-Ultra';
    font-size: 24px;
}

.product-card .details {
    font-family: 'Gotham-Medium';
}

.product-card .rateByStars {
    color: #bd945f;
}

.product-card .price {
    font-weight: bold;
    font-family: 'Gotham-Medium';
}