#banner-doi-tac .banner{
    width: 100%;
    position: relative;
}
#banner-doi-tac .contentOfBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}
#banner-doi-tac .contentOfBanner img {
    width: 100%;   
    margin-bottom: 1rem;
}
#banner-doi-tac .contentOfBanner h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}
/*Introduce  */
#introduce-partner {
    background-color: #f5f5f5;
}
#introduce-partner .container {
    background-color: #fff;
    padding-top: 6rem;
    position: relative;
    top: -4rem;
}
#introduce-partner .item-introduce {
    display: grid;
    grid-template-columns: 30rem 1fr;
    gap: 3.5rem;
    align-items: center;
}
#introduce-partner .img-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
#introduce-partner .img-item img {
    height: 13.5rem;
}
#introduce-partner .content-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #c9a063;  
    font-family: 'Gotham-Ultra';
}
#introduce-partner .content-item p {
    font-size: 1.5rem;
    color: #333;
    font-family: 'Gotham-Medium';
    color: #3C415E;
} 