/*Banner */
#banner-gioi_thieu .imgOfBanner {
    margin-top: 140px;
    background-image: url('..//img/gioi_thieu/banner.jpg');
    width: 1920px;
    height: 470px;
    position: relative;
}

#banner-gioi_thieu .contentOfBanner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#banner-gioi_thieu .contentOfBanner img {
    width: 150px;
    margin-bottom: 12px;
}

#banner-gioi_thieu .contentOfBanner h2 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}

/* Introduce */
#introduce {
    background-color: #f5f5f5;
}

#introduce .container {
    background-color: #fff;
}

#introduce .establish h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 70px;
}

#introduce .establish h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .establish .row {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
}

#introduce .establish .row .contentOfEstablish {
    max-width: 500px;
    font-family: 'Gotham-Medium';
    font-weight: bold;
}

#introduce .vision h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 70px;
}

#introduce .vision h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .vision>img {
    margin-left: 100px;
    margin-right: 100px;
}

#introduce .vision>p {
    max-width: 1060px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    font-family: 'Gotham-Medium';
}

#introduce .mission h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 70px;
}

#introduce .mission h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .mission .boxOfMission .bg-white {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    width: 550px;
    height: 110px;
}
 .boxOfMission .bg-white {
    border: 3px solid #bd945f !important; 
    height: 100%; 
    align-items: center; 
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}
