/*Banner */
#banner-gioi_thieu .imgOfBanner {
    margin-top: 140px;
    background-image: url('..//img/gioi_thieu/banner.jpg');
    width: 100%;
    height: 29rem;
    position: relative;
}

#banner-gioi_thieu .contentOfBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#banner-gioi_thieu .contentOfBanner img {
    width: 9rem;
    margin-bottom: 1rem;
}

#banner-gioi_thieu .contentOfBanner h2 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}
@media (max-width: 767px) {
    #banner-gioi_thieu {
        height: 16rem;
    }

    #banner-gioi_thieu h2 {
        font-size: 1.5rem;
    }
}
/* Introduce */
#introduce {
    background-color: #f5f5f5;
}

#introduce .container {
    background-color: #fff;
    position: relative;
    top: -3.8rem;
}
/* Ảnh luôn co theo khung */
#introduce img {
    max-width: 100%;
    height: auto;
    display: block;
}

#introduce .establish h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 3rem;
    padding-top: 2rem;
}

#introduce .establish h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .establish .row {
    margin-top: 5rem;
    margin-left: 6.2rem;
    margin-right: 6.2rem;
}

#introduce .establish .row .contentOfEstablish {
    max-width: 31rem;
    font-family: 'Gotham-Medium';
    font-weight: bold;
}

#introduce .vision h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 4rem;
}

#introduce .vision h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .vision>img {
    margin-left: 6.2rem;
    margin-right: 6.2rem;
}

#introduce .vision>p {
    max-width: 66rem;
    margin-left: 6.2rem;
    margin-right: 6.2rem;
    margin-top: 2rem;
    font-family: 'Gotham-Medium';
}

#introduce .mission h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #212546;
    margin-top: 4rem;
}

#introduce .mission h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#introduce .mission .boxOfMission .bg-white {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    gap: 1rem;
    width: 35rem;
    height: 7rem;
}
@media (max-width: 767px) {
    .imgOfEstablish,
    .contentOfEstablish {
        width: 100%;
    }

    .contentOfEstablish {
        margin-top: 1.5rem;
    }
}

 .boxOfMission .bg-white {
    border: 3px solid #bd945f !important; 
    height: 100%; 
    align-items: center; 
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
}
@media (max-width: 767px) {
    .mission .col-6 {
        width: 100%;
    }

    .boxOfMission .bg-white {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .imgOfMission img {
        width: 50px;
    }
}
