* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.cl-1 {
    color: #2c2e53 !important;
}

.cl-2 {
    color: #bd945f !important;
}

.bg-1 {
    color: #2c2e53 !important;
}

.bg-2 {
    color: #bd945f !important;
}

.fm-ultra {
    font-family: 'Gotham-Ultra';
}

.fm-thin {
    font-family: 'Gotham-Thin';
}

header {
    padding: 1rem 0 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

header .nav-item a {
    padding: 0 1.75rem !important;
}

header .nav-item a {
    position: relative;
}

header .nav-item a::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    top: 100%;
    left: 1.75rem;
    background-color: #d3b894;
    display: none;
}


header .nav-item:hover a::after {
    display: block;
}