* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham-Medium', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.cl-1 {
    color: #2c2e53 !important;
}

.cl-2 {
    color: #bd945f !important;
}

.bg-1 {
    color: #2c2e53 !important;
}

.bg-2 {
    color: #bd945f !important;
}

.fm-ultra {
    font-family: 'Gotham-Ultra';
}

.fm-thin {
    font-family: 'Gotham-Thin';
}
/* Header  */
header {
    padding: 1rem 0 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

header .nav-item a {
    padding: 0 1.75rem !important;
}

header .nav-item a {
    position: relative;
}

header .nav-item a::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 5px;
    top: 100%;
    left: 1.75rem;
    background-color: #d3b894;
    display: none;
}
header .nav-item:hover a::after {
    display: block;
}
/* Footer  */
.info-company {
    background-color: #2c2c2c;
    padding: 50px 0;
    color: white;
}

.info-company .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo-bo-cong-thuong img {
    margin-top: 35px;
    max-width: 150px;
}

.info-company .contact h2,
h3 {
    font-family: 'Gotham-Medium';
}

.info-company .contact i {
    font-family: "Font Awesome 6 Free" !important;
    font-weight: 900;
    margin-right: 8px;
    display: inline-block;
}

.info-company .about-us-footer p {
    font-family: 'Gotham-Thin';
}