#banner-gioi_thieu .imgOfBanner {
    margin-top: 140px;
    background-image: url('..//img/gioi_thieu/banner.jpg');
    width: 100%;
    height: 470px;
    position: relative;
}

#banner-gioi_thieu .contentOfBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#banner-gioi_thieu .contentOfBanner img {
    width: 150px;
    margin-bottom: 12px;
}

#banner-gioi_thieu .contentOfBanner h2 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}

/* Introduce */
#introduce {
    background-color: #f5f5f5;
}
#introduce .container{
    background-color: #fff;
    position: relative;
    top: -65px;
    padding: 100px 107px;
}
#introduce .contentOfIntroduce h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #bd945f;
}
#introduce .contentOfIntroduce > div {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
#introduce .contentOfIntroduce > div > input{
    max-width: 530px;
    height: 55px;
    text-align: left;
    padding: 12px 15px;
    border: 2px solid  #bd945f;
    font-family: 'Gotham-Medium';
}
#introduce .contentOfIntroduce > div > button {
    width: 125px;
    height: 55px;
    background-color: #bd945f;
    color: #fff;
    font-family: 'Gotham-Medium';

}