#banner-gioi_thieu .imgOfBanner {
    margin-top: 9rem;
    background-image: url('..//img/gioi_thieu/banner.jpg');
    width: 100%;
    height: auto;
    position: relative;
}

#banner-gioi_thieu .contentOfBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#banner-gioi_thieu .contentOfBanner img {
    width: 9rem;
    margin-bottom: 1rem;
}

#banner-gioi_thieu .contentOfBanner h2 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}

/* Introduce */
#introduce {
    background-color: #f5f5f5;
}
#introduce .container{
    background-color: #fff;
    position: relative;
    top: -4rem;
    padding: 6rem 6rem;
}
#introduce .contentOfIntroduce h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #bd945f;
}
.contentOfIntroduce h3 {
    color: #c19b76; /* Màu vàng đồng */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem;
}
.contentOfIntroduce>img{
    width: 100%;
    height: auto;
    display: block;
}

.form-contact input, 
.form-contact textarea {
    width: 100%;
    margin-bottom: 1rem; 
    padding: 1rem 1rem;
    border: 0.2rem solid #c19b76; 
    
}

.form-contact textarea {
    height: 6rem; 
}

.form-contact button {
    background-color: #c19b76;
    color: white;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
}
.contentOfIntroduce .err{
    color: red;
    display: none;
}