#banner-gioi_thieu .imgOfBanner {
    margin-top: 140px;
    background-image: url('..//img/gioi_thieu/banner.jpg');
    width: 100%;
    height: 470px;
    position: relative;
}

#banner-gioi_thieu .contentOfBanner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#banner-gioi_thieu .contentOfBanner img {
    width: 150px;
    margin-bottom: 12px;
}

#banner-gioi_thieu .contentOfBanner h2 {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #fff;
}

/* Introduce */
#introduce {
    background-color: #f5f5f5;
}
#introduce .container{
    background-color: #fff;
    position: relative;
    top: -65px;
    padding: 100px 107px;
}
#introduce .contentOfIntroduce h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    color: #bd945f;
}
.contentOfIntroduce h3 {
    color: #c19b76; /* Màu vàng đồng */
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.form-contact input, 
.form-contact textarea {
    width: 100%;
    margin-bottom: 15px; 
    padding: 12px 15px;
    border: 2px solid #c19b76; 
    
}

.form-contact textarea {
    height: 100px; 
}

.form-contact button {
    background-color: #c19b76;
    color: white;
    padding: 10px 40px;
    font-weight: bold;
}
