#content {
    background: #f5f5f5; 
}
#banner img{
    width: 100%;
    height: auto;
}
.list-product {
    background-color: #fff;  
    padding: 60px 0;         
    margin-bottom: 60px;     
}
