#content {
    background: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 60px;
}

#banner img {
    width: 100%;
    height: auto;
}

.table-product {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 60px 60px 10px 60px;
}

#content .container .row {
    display: flex;
    align-items: center;
    padding: 0 0 30px 0;
}

.table-product-first {
    background-color: #fff;
    margin-bottom: 40px;
    padding: 50px 60px 10px 60px;
}
.table-product-end {
    background-color: #fff;
    
    padding: 60px 60px 10px 60px;
   

}
.title h2 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.title h2::after {
    content: '';
    height: 8px;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

.title .col-4 {
    padding: 0 12px 0px 250px;
    font-family: 'Gotham-Medium';
    text-transform: uppercase;
}

.title .col-4>a {
    color: #2c2e53;
    font-size: 20px;
}

.list-product {
    text-align: center;
}

.product-card h3{
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    font-family: 'Gotham-Ultra';
}
.product-card .details {
font-family: 'Gotham-Medium';
}
.product-card .rateByStars {
    color: #bd945f;
}
.product-card .price {
    font-weight: bold;
    font-family: 'Gotham-Medium';
}