#content {
    background: #f5f5f5;
    padding-top: 5rem;
    padding-bottom: 4rem;
}

#banner img {
    width: 100%;
    height: auto;
}
.product-card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.table-product {
    background-color: #fff;
    margin-bottom: 3rem;
    padding: 4rem 4rem 0.5rem 4rem;
}

#content .container .row {
    display: flex;
    align-items: center;
    padding: 0 0 2rem 0;
}

.table-product-first {
    background-color: #fff;
    margin-bottom: 2.5rem;
    padding: 3rem 3rem 0.5rem 3rem;
}
.table-product-end {
    background-color: #fff;
    
    padding: 4rem 4rem 0.5rem 4rem;
   

}
.title h2 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.title h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

.title .col-4 {
    padding: 0 0.8rem 0px 15rem;
    font-family: 'Gotham-Medium';
    text-transform: uppercase;
}

.title .col-4>a {
    color: #2c2e53;
    font-size: 1.2rem;
}

.list-product {
    text-align: center;
}

.product-card h3{
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 1.5rem;
    font-family: 'Gotham-Ultra';
}
.product-card .details {
font-family: 'Gotham-Medium';
}
.product-card .rateByStars {
    color: #bd945f;
}
.product-card .price {
    font-weight: bold;
    font-family: 'Gotham-Medium';
}