#content {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 45px;
}

#content .container {
    background-color: #fff;
}

#content .container .title h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #2c2e53;
    padding-top: 45px;
}

#content .container .title h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

.main-content .row {
    margin-bottom: 30px; 
}
.product-card{
}
.imgOfProduct img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.titleOfProduct h3 {
    font-size: 18px;
    color: #bd945f;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Gotham-Ultra';
    font-size: 22px;
    text-transform: uppercase;
}

.titleOfProduct p {
    font-size: 14px;
    color: black;
    font-family: 'Gotham-Ultra';
    font-weight: bold;
    font-size: 18px;
}