#home-banner {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3rem;
    position: relative;
}

#home-banner img {
    display: block;
}

.home-banner_content {
    padding-left: 2rem;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.home-banner_content h1 {
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #2c2e53;
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.home-banner_content span {
    font-family: 'Gotham-Ultra';
    color: #bd945f;
}

.home-banner_content p {
    max-width: 30rem;
    margin-bottom: 0.75rem;
}

.home-banner_btn {
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    display: inline-block;
    padding: 0.5rem 1rem;
    background: #bd945f;
    border: 0.2rem solid #bd945f;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

#home-category {
    background-color: #f5f5f5;
}

#home-category .list-category {
    background-color: #fff;
    position: relative;
    top: -3rem;
    padding: 0rem 3rem;
}

#home-category .list-category .col-md-3 a>img {
    width: 10rem;
    height: 9rem;
    object-fit: contain;
    margin: 0 auto;
}

#home-category .col-md-3 {
    align-items: center;
    text-align: center;
}

#home-category .list-category .row .col-md-3 {
    padding: 2.5rem 0 3rem 0;
}

#home-category .list-category .row a>p {
    color: #2c2e53;
    margin-top: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Gotham-Ultra';
}

.product-slick {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.product-slick h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #2c2e53;
    padding-top: 1rem;
    padding-bottom: 0.5rem
}

.product-slick h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

.product-slick .product-box {
    max-width: 17rem;
    margin: 0 1rem;
    padding-top: 2rem;
}

.product-slick .product-list {
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.product-slick .product-content{
    padding: 1rem 0 0.5rem 0;
}
.product-slick .product-content>h3{
    font-size: 1rem;
    margin-bottom: 0;
}
.product-slick .product-content .product-star{
    color: #bd945f;
    margin-bottom: 0;
}
.product-slick .product-content .product-details {
    color: #666666;
    margin-bottom: 0;
}
.product-slick .product-list .slick-arrow {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: #bd945f;
    color: #fff;
    top: 30%;
}

.product-slick .product-list .slick-prev {
    right: calc(100% + 10px);
}

.product-slick .product-list .slick-next {
    left: calc(100% + 10px);
}
/* About us */
#home-about_us {
    position: relative;
    height: 68rem;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.6)),
        url("../img/trang_chu/banner-about_us.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home-about_us .banner {
    display: none;
}
#home-about_us .container {
    padding-top: 3rem;
    padding-bottom: 9rem;
    position: relative;
    z-index: 1;
}
#home-about_us .content {
    color: #fff;
    margin-bottom: 6rem;
}
#home-about_us h2 {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
}

#home-about_us h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#home-about_us .contentOfTop_Right h3>span{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
}
#home-about_us .contentOfTop_Right p>span{
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
}
 
.about-us-bottom .row .bg-white {
    padding: 1.5rem 0 1.5rem 2rem;
}
.commit-card {
    padding: 1.5rem 0 2rem 1.5rem;
}
.commit-card .about-us-bottom-img{
    
}
.commit-card .about-us-bottom-content {
    padding-left: 2rem;
}
.commit-card .about-us-bottom-content>h3{
    color: #bd945f;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    font-size: 1.5rem;
}
.commit-card .about-us-bottom-content>p{
    font-size: 1rem;
    color: #000;
}
/* News */
#home-news .news h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    padding-top: 6rem;
    font-weight: bold;
    color: #2c2e53;
}

#home-news .news h2::after {
    content: '';
    height: 0.5rem;
    width: 10rem;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#home-news .row {
    display: flex;
    margin-top: 3rem;
    padding-bottom: 2.5rem;
}


.news-left> img {
    height: 100%;
    width: 100%;
}

.news-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-item {
    display: flex;
    gap: 30px;
}

.img-news-small img {
    width: 12rem;
    height: 10rem;
}

#home-news .news-right .news-item .item-text h3 {
    font-size: 1rem;
    color: #bd945f;
}

#home-news .news-right .news-item .item-text p {
    font-family: 'Gotham-Thin';
    font-weight: 700;
    font-size: 0.8rem;
}

#home-news .news-right .news-more a {
    font-family: 'Gotham-Medium';
    color: #bd945f;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#info-contact {
    background-image: url(../img/trang_chu/banner_info-contact.jpg);
    height: 16rem;
    position: relative;
}

#info-contact .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;
}

#info-contact .content-info-contact {
    position: relative;
    padding-bottom: 1rem;
    text-align: left;
    margin-left: 0;
}
#info-contact .form-info-contact {
    padding-bottom: 1rem;
}
#info-contact .container .row .content-info-contact h3 {
    color: #fff;
    margin-top: 5rem;
    font-family: 'Gotham-Medium';
    display: inline-block;
    position: relative;
    text-align: left;
    padding-bottom: 1.2rem;
}

#info-contact .container .row .content-info-contact h3 span {
    font-weight: bold;
    font-family: 'Gotham-Ultra';
    font-size: 26px;
}

#info-contact .content-info-contact {
    text-align: left !important;
    display: block !important;
    padding: 0;
}

#info-contact .content-info-contact h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 10rem;
    height: 0.5rem;
    background-color: #fff;
}
#info-contact .form-info-contact h4 {
    color: #fff;
    font-size: 1rem;
}
#info-contact .form-info-contact input {
    width: 16rem;
    height: 3rem;
    padding-left: 1rem;
}

#info-contact .form-info-contact button {
    width: 5rem;
    height: 3rem;
    background-color: #fff;
    margin-left: 0.5rem;
}

.img-chair-decor {
    position: absolute;
    top: 0;
    left: 2.2rem;
    bottom: 3rem;
    transform: translateY(-40%);
    width: 10rem;
}
/* Partner */
#partner {
    /* width: 1920px; */
    height: 300px;
}
.logo-partner {
    width: 45%;
}


#home-partner .title h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-top: 115px;
    font-weight: bold;
    color: #2c2e53;
}

#home-partner .title h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#home-partner .img-logo-partner {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#home-partner .img-logo-partner .logo-partner {
    margin-top: 50px;
    margin-right: 55px;
    margin-bottom: 130px;
}
