#banner {
    margin-top: 60px;
    background-image: url('../img/trang_chu/banner.jpg');
    width: 100%;
    height: 900px;
}

#banner .banner-content {
    padding-top: 200px;
    padding-left: 50px;

}

#banner .banner-content h2,
#banner .banner-content h2>span {
    font-family: 'Gotham-Ultra';
    font-size: 46px;
}

#banner .banner-content p {
    width: 552px;
    text-align: justify;
}

#banner .banner-content button {
    background-color: #bd945f;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    font-size: 1.25rem;
    color: #fff;
    border: 0;
}
/* MOBILE */
@media (max-width: 575px) {
    #banner .banner-content {
        text-align: center;       /* CĂN GIỮA TEXT */
        padding: 40px 15px;
    }

    #banner .banner-content h2 {
        font-size: 22px;          /* GIẢM SIZE TEXT */
        line-height: 1.4;
    }

    #banner .banner-content h2 span {
        font-size: 24px;          /* TÊN THƯƠNG HIỆU NỔI HƠN */
        display: block;
        margin-top: 5px;
    }

    #banner .banner-content p {
        font-size: 14px;          /* TEXT DỄ ĐỌC */
        line-height: 1.6;
        margin: 15px 0;
    }

    #banner .banner-content button {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* TABLET */
@media (max-width: 991px) {
    #banner .banner-content h2 {
        font-size: 28px;
    }

    #banner .banner-content p {
        font-size: 15px;
    }
}
#category {
    background-color: #f3f3f3;
    height: auto;
    padding-bottom: 0;
    margin-bottom: -60px;
}

#category .container {
    position: relative;
}

#category .container>div {

    position: relative;
    background-color: #fff;
    top: -60px;
    z-index: 10;
}

#category .category-box {
    padding-top: 40px;
    padding-bottom: 50px;
}

#category .category-img {
    max-width: 178px;
    margin: auto;
}

#category .category-box a {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
}

/* Product */
#product {
    background-color: #f3f3f3;
    padding-top: 50px;
    padding-bottom: 50px;
}

#product .container {
    background-color: #fff;
}

#product h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #2c2e53;
    padding-top: 20px;
    padding-bottom: 5px
}

#product h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#product .product-box {
    max-width: 270px;
    margin: 0 1rem;
    padding-top: 30px;
}

#product .product-list {
    max-width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

#product .product-list .slick-arrow {
    position: absolute;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: none;
    background-color: #bd945f;
    color: #fff;
    top: 30%;
}

#product .product-list .slick-prev {
    right: calc(100% + 10px);
}

#product .product-list .slick-next {
    left: calc(100% + 10px);
}

/* About us */
#about-us {
    height: 1180px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8)), url(../img/trang_chu/banner-about_us.jpg);
}

#about-us .about-us-top {
    padding: 96px;
    color: #fff;
}

.about-us-top-left-img {
    width: 100%;
    height: 100%;
}

.about-us-top-left-img img {
    width: 100%;
    height: 100%;
}

#about-us h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#about-us h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#about-us .about-us-bottom h2 {
    color: #fff;
}

#about-us .about-us-top h3 {
    text-transform: uppercase;
}

#about-us .about-us-top h3 span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 26px;
}

#about-us .about-us-top p span {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

#about-us .about-us-bottom row {
    width: 45px;
}

#about-us .about-us-bottom h3 {
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    color: #bd945f;
    font-weight: bold;
    margin-left: 23px;
    font-size: 26px;
}

#about-us .about-us-bottom p {
    font-family: 'Gotham-Medium';
    margin-left: 23px;
    font-size: 20px
}

#about-us .about-us-bottom .bg-white {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    gap: 20px;
    width: 550px;
    height: 110px;
}
/* Mobile */
@media (max-width: 575px) {
    .about-us-bottom h2 {
        font-size: 22px;
        text-align: center;
    }

    .about-us-bottom .bg-white {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .about-us-bottom-img {
        margin-bottom: 15px;
    }

    .about-us-bottom h3 {
        font-size: 18px;
    }

    .about-us-bottom p {
        font-size: 14px;
    }
}
/* News */
.news-section .news h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-top: 200px;
    margin-bottom: 2rem;
    font-weight: bold;
    color: #2c2e53;
}

.news-section .news h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

.news-section .row {
    display: flex;
    align-items: stretch;
}

.news-left,
.news-left img {
    height: 100%;
    width: 100%;
}

.news-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news-item {
    display: flex;
    gap: 30px;
}

.img-news-small img {
    width: 170px;
    height: 130px;
}

.news-section .news-right .news-item .item-text h3 {
    color: #bd945f;
    font-family: 'Gotham-Medium';
}

.news-section .news-right .news-item .item-text p {
    font-family: 'Gotham-Thin';
}

.news-section .news-right .news-more a {
    font-family: 'Gotham-Medium';
    color: #bd945f;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

/* Partner  */
#partner {
    width: 1920px;
    height: 300px;
}
.logo-partner {
    width: 45%;
}


#partner h2 {
    text-align: center;
    position: relative;
    font-family: 'Gotham-Ultra';
    text-transform: uppercase;
    margin-top: 115px;
    font-weight: bold;
    color: #2c2e53;
}

#partner h2::after {
    content: '';
    height: 8px;
    width: 162px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bd945f;
}

#partner .img-logo-partner {
    display: flex;
    align-items: center;
}

#partner .img-logo-partner .logo-partner {
    margin-top: 50px;
    margin-right: 55px;
    margin-bottom: 130px;
}
@media (min-width: 576px) {
    .logo-partner {
        width: 30%;
    }
}

@media (min-width: 992px) {
    .logo-partner {
        width: 14%;
    }
}
/* Info Contact */
#info-contact {
    background-image: url(../img/trang_chu/banner_info-contact.jpg);
    width: 1920px;
    height: 300px;
    position: relative;
}

#info-contact .row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;
    margin-right: 80px;
}

#info-contact .content-info-contact {
    position: relative;
    padding-bottom: 20px;
    flex: 1;
    text-align: left;
    margin-left: 150px;
}

#info-contact .container .row .content-info-contact h3 {
    color: #fff;
    margin-top: 120px;
    font-family: 'Gotham-Medium';
    font-size: 26px;
    display: inline-block;
    position: relative;
    text-align: left;
    padding-bottom: 20px;
}

#info-contact .container .row .content-info-contact h3 span {
    font-weight: bold;
    font-family: 'Gotham-Ultra';
    font-size: 26px;
}

#info-contact .content-info-contact {
    text-align: left !important;
    display: block !important;
    padding: 0;
}

#info-contact .content-info-contact h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 162px;
    height: 8px;
    background-color: #fff;
}

#info-contact .form-info-contact input {
    width: 300px;
    height: 40px;
}

#info-contact .form-info-contact button {
    width: 80px;
    height: 40px;
    background-color: #fff;
}

.img-chair-decor {
    position: absolute;
    top: 0;
    left: 35px;
    bottom: 50px;
    transform: translateY(-40%);
    width: 370px;
}
/* Mobile */
@media (max-width: 575px) {
    #info-contact {
        padding: 40px 0;
    }

    .content-info-contact h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .form-info-contact h4 {
        font-size: 18px;
    }

    .form-info-contact form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-info-contact input,
    .form-info-contact button {
        width: 100%;
    }

    .img-chair-decor {
        display: none; /* Ảnh trang trí nên ẩn trên mobile */
    }
}
/* Responsive cho Mobile và Tablet */
/* MOBILE */
@media (max-width: 575px) {
    h2 { font-size: 22px; }
    h3 { font-size: 18px; }
    p  { font-size: 14px; }

    #banner .banner-content {
        text-align: center;
    }

    .news-item {
        flex-direction: column;
    }

    .news-item img {
        width: 100%;
    }
}

/* TABLET */
@media (max-width: 991px) {
    .about-us-top-right-img img {
        width: 100%;
    }
}