#banner>img{
    height: auto;
    width: 100%;
}
#banner .banner-content {
    padding-top: 200px;
    padding-left: 50px;
}

#banner .banner-content h2,
#banner .banner-content h2>span {
    font-family: 'Gotham-Ultra';
    font-size: 46px;
}

#banner .banner-content p {
    max-width: 552px;
    font-family: 'Gotham-Medium';
}

#banner .banner-content button {
    background-color: #bd945f;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
    font-family: 'Gotham-Ultra';
    font-size: 1.25rem;
    color: #fff;
    border: 0;
}