#content {
    background-color: #f5f5f5;
}
#content .optionsOfPrice .col-8{
    display: flex;  
    gap: 20px;
    margin-left: 280px;
}






#content .container{
    background-color: #fff;
    padding: 60px 60px;
}

#content .container h2{
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -30px;
}
#content .container h2::after{
    content: '';
    height: 8px;
    width: 170px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}
#content .container .column1 .product-card{
    text-align: center;
}
#content .container .column2 .product-card{
    text-align: center;
}
#content .container .column3 .product-card{
    text-align: center;
}
/* Column1 */
#content .container .column1 .col-3 .product-card >h3{
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#content .container .column1 .col-3 .product-card .details {
    font-family: 'Gotham-Medium';
}
#content .container .column1 .col-3 .product-card .rateByStars{
    color: #bd945f;
}
#content .container .column1 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}
/* Column2 */
#content .container .column2 .col-3 .product-card h3{
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#content .container .column2 .col-3 .product-card .details{
    font-family: 'Gotham-Medium';
}
#content .container .column2 .col-3 .product-card .rateByStars{
    color: #bd945f;
}
#content .container .column2 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}
/* Column3  */
#content .container .column3 .col-3 .product-card h3{
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
#content .container .column3 .col-3 .product-card .details{
    font-family: 'Gotham-Medium';
}
#content .container .column3 .col-3 .product-card .rateByStars{
    color: #bd945f;
}
#content .container .column3 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}
