#content {
    background-color: #f5f5f5;
}

.optionsOfPrice {
    align-items: center;
    padding: 20px 0;
    display: flex;
}

#content .optionsOfPrice .col-8 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.optionsOfPrice .col-8 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.optionsOfPrice .col-8 .option-price {
    text-align: center;
    display: flex;
    white-space: nowrap;
    gap: 30px;
    margin-left: 300px;
}

.optionsOfPrice .col-8 .option-price>p {
    color: #2c2e53;
    font-family: 'Gotham-Medium';
    font-weight: bold;
    font-size: 20px;
}

.optionsOfPrice .col-8 .option-price>a {
    color: #bd945f;
    font-family: 'Gotham-Medium';
    font-size: 20px;
}

.optionsOfPrice .col-4 {
    align-items: center;
}
.viewSelect {
    position: relative; 
    display: inline-block; 
    margin-left: 160px;
}

.viewSelect > a {
    display: block;
    text-decoration: none;
    color: #2c2e53;
    font-weight: bold;
    font-size: 18px; 
    padding: 10px 0;
}


.menuOfOptions {
    display: none; /* Mặc định ẩn */
    background-color: #fff;
    position: absolute;
    top: 100%; 
    width: 170px;
    border: 2px solid #bd945f;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    list-style: none;
    padding:  0 10px;
    margin: 0;
}
.menuOfOptions >li{
    color: #2c2e53;
    font-family: 'Gotham-Medium';
    font-weight: bold;
}


.viewSelect:hover .menuOfOptions {
    display: block;
}


.menuOfOptions li {
    border-bottom: 1px solid #eee;
}

.menuOfOptions li a {
    display: block;
    padding: 10px 15px;
    color: #2c2e53;
    text-decoration: none;
    font-size: 14px;
}

.menuOfOptions li a:hover {
    background-color: #f8f8f8;
    color: #bd945f;
}
#content .container {
    background-color: #fff;
    padding: 60px 60px;
}

#content .container h2 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    top: -30px;
}

#content .container h2::after {
    content: '';
    height: 8px;
    width: 170px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #bd945f;
}

#content .container .column1 .product-card {
    text-align: center;
}

#content .container .column2 .product-card {
    text-align: center;
}

#content .container .column3 .product-card {
    text-align: center;
}

/* Column1 */
#content .container .column1 .col-3 .product-card>h3 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#content .container .column1 .col-3 .product-card .details {
    font-family: 'Gotham-Medium';
}

#content .container .column1 .col-3 .product-card .rateByStars {
    color: #bd945f;
}

#content .container .column1 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}

/* Column2 */
#content .container .column2 .col-3 .product-card h3 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#content .container .column2 .col-3 .product-card .details {
    font-family: 'Gotham-Medium';
}

#content .container .column2 .col-3 .product-card .rateByStars {
    color: #bd945f;
}

#content .container .column2 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}

/* Column3  */
#content .container .column3 .col-3 .product-card h3 {
    font-family: 'Gotham-Ultra';
    color: #2c2e53;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

#content .container .column3 .col-3 .product-card .details {
    font-family: 'Gotham-Medium';
}

#content .container .column3 .col-3 .product-card .rateByStars {
    color: #bd945f;
}

#content .container .column3 .col-3 .product-card .price {
    font-family: 'Gotham-Medium';
    font-weight: bold;
}